/*
    COLOR PALETTE:

    Naranja: #FC440F
    Rosa mexicano: #F62DAE
    Gris ligero: #DDDDDD
    Gris oscuro: #4B5267
    Casi blanco: #EFEFEF

*/

body #user-preferences, body.happy #user-preferences{
    padding: 10px;
    background-color: #fc440f4d;
 }
body.sad #user-preferences{
    background-color: #F62DAE21;
}
body.neutral #user-preferences{
   background-color: #FC440F21;
}


#user-data{
    align-items: center;
}
.todo-list-single{
    margin: 0 0 15px;
    display: block;
    border: 1px solid #444;
}
.radio-group.item-priority .form-group{
    display: inline-block;
}
#infoNombre{
    padding:0 3px;
}
.user-start-date{
    font-size: 13px;
}
.task-single-delete{
    cursor: pointer;
}
.task-single-delete svg{
    margin-right: 5px;
}
.item-priority{
    padding: 8px;
}
.task-single.selected .item-priority{
    background-color: #f0f0f0;
}
.task-single.joy.selected .item-priority,
.task-single.fear.selected .item-priority,
.task-single.sadness.selected .item-priority{
    background-color: #ffffffcf;
}
.btn-check+.btn{
    opacity: .6;
}
.btn-check:checked+.btn{
    opacity: 1;
}
#form-add-task button{
    width: 100%;;
}
.task-single.joy{
    background-color: #3ade9224;
    border: 1px solid #3ade92;
}
.task-single.sadness, .task-single.fear{
    background-color: #3ac1de24;
    border: 1px solid #3ac1de57;
}