/*
    COLOR PALETTE:

    Naranja: #FC440F
    Rosa mexicano: #F62DAE
    Gris ligero: #DDDDDD
    Gris oscuro: #4B5267
    Casi blanco: #EFEFEF

*/

body{
    background-color: #f5f5f5 !important;
}
body #page-title{
    margin: 0 auto 5px !important;
    padding: 10px;
    background-color: transparent;
    border-bottom: 2px solid #bdbdbd;
}
h1{
    margin-bottom: 0 !important;
}
#user-data{
    align-items: center;
}
.todo-list-single{
    margin: 0 0 15px;
    display: block;
    border: 1px solid #444;
}
.radio-group.item-priority .form-group{
    display: inline-block;
}
#infoNombre{
    padding:0 3px;
}
.user-start-date{
    font-size: 13px;
}
.task-single-delete{
    cursor: pointer;
}
.task-single-delete svg{
    margin-right: 5px;
}
.item-priority{
    padding: 8px;
}
.task-single.selected .item-priority{
    background-color: #f0f0f0;
}
.task-single.POSITIVE.selected .item-priority,
.task-single.NEGATIVE.selected .item-priority,
.task-single.NEUTRAL.selected .item-priority,
.task-single.MIXED.selected .item-priority{
    background-color: #ffffffcf;
}
.btn-check+.btn{
    opacity: .6;
}
.btn-check:checked+.btn{
    opacity: 1;
}
#form-add-task button{
    width: 100%;;
}
.task-single.POSITIVE{
    background-color: #3ade9224;
    border: 1px solid #3ade92;
}
.task-single.NEGATIVE{
    background-color: #de3a3a24;
    border: 1px solid #de3a3a57;
}
.task-single.NEUTRAL{
    background-color: #cdcdcd24;
    border: 1px solid #cdcdcd6e;
}
.task-single.MIXED{
    background-color: #bee1f55e;
    border: 1px solid #bee1f5;
}
.badge.sentiment{
    padding: 5px 10px;
    display: inline-block;
    justify-content: flex-end!important;
    align-items: flex-end!important;
    background-color: #21252996;
}
.badge.sentiment label{
    display: inline-block;
    font-weight: 400;;
}
.badge.sentiment .taskSentiment{
    display: inline-block;
    font-weight: 600;;
}
.task-single-name .row .col-md-4{
    text-align: right;
}
#add-items .card,
#add-items .card-header{
    background-color: transparent !important;
    border-color: #dadada;
}
#task-list{
    padding: 10px 20px !important;
    background-color: #fff;
    border-radius: 8px !important;
}